div{
    width: 600px;
    margin: 10px auto ;
    box-sizing: border-box;
}
.satu{
    background-color: aqua;
    border: 15px dashed;
    padding: 10px 20px 30px 0;
    display: block;
}
.dua{
    background-color: blueviolet;
    padding: 20px;
    border: 3px double;
}
.tiga{
    background-color: aqua;    
    border-radius: 10px;
}