div{
    width: 600px;
    margin: 10px auto ;
    box-sizing: border-box;
}
.satu{
    background-color: aqua;
    padding: 10px;
    border: 15px dashed;
}
.dua{
    background-color: blueviolet;
    padding: 20px;
    border: 3px double;
}