
.satu{
    width: 200px;
    height: 200px;
    background-color: aqua;
    margin: 50px 30px 40px 40px;    
    
}
.dua{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    
    
}
.tiga{
    width: 50px;
    height: 50px;
    background-color: tomato;
}