<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <nav>
        <div class="container">
            <div class="logo">
                myweb
            </div>
            <div class="link ">
                <ul>
                    <li>
                        <a class="nav-links bot-line" href="">Home</a>
                        <a class="nav-links bot-line" href="">About</a>
                        <a class="nav-links bot-line" href="">Contact</a>
                        <a class="nav-links bot-line" href="">Service</a>
                    </li>
                </ul>
            </div>            
        </div>
        <div class="btn-nav">
            <button class="btn" >join us</button>
        </div>
        
    </nav>
    <main class="main-container shadow translate" data-speed="0.1">
        <div class="jumbotron">
            
        </div>
        <div class="text" id="scroll" >
            <h4>Get work done<span class="myspan"> faster</span><br>
             and<span class="myspan"> better</span> with us
            </h4>
            <div class="work translate" data-speed="0.1">
                <button class="btn">our work</button>
            </div>
           
        </div>

        <div class="service translate"  data-speed="0.2">
            <div class="hour">
                <img src="./templates/img/employee.png" alt="">
                <h2>24 Hour</h2>
                <p>Lorem, ipsum hours daily works.</p>
            </div>
            <div class="hour">
                <img src="./templates/img/hires.png" alt="">
                <h2>High-res</h2>
                <p>Lorem, ipsum hours daily works.</p>
            </div>
            <div class="hour">
                <img src="./templates/img/security.png" alt="">
                <h2>security</h2>
                <p>Lorem, ipsum hours daily works.</p>
            </div>
        </div>

        
    </main>
</header>
    <section>
        <div class="work-home">
            <div class="image">
                <img src="./templates/img/workingspace.png" alt="">
            </div>
            <div class="theme">
                <h1>you <span class="myspan">work</span> like <br> at <span class="myspan">home</span> </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe commodi, qui voluptatibus autem voluptates iste repudiandae facilis. Et commodi, autem fugiat enim accusantium veritatis laboriosam maxime, molestias repudiandae a minima?</p>
                <button class="btn">Galerry</button>
            </div>
        </div>
    </section>
    <section class="dua">
        <div class="quote">
            <blockquote>"bekerja dengan suasana hati yang lebih asik <br>
            dan mempelajari hal baru setiap harinya"
            </blockquote>
        </div>
        <div class="hero">
            <span class="hero1"></span>
            <span class="hero2"></span>
            <span class="hero3"></span>
        </div>
    </section>


    <script src="script.js"></script>
</body>
</html>