<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="judul">My Blogsite</h1>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">about</a>
                </li>
                <li>
                    <a href="">service</a>
                </li>
                <li>
                    <a href="">contact</a>
                </li>
            </ul>
        </div>
        <div class="hero"></div>
        <div class="content">
            <h2>Judul Artikel</h2>
            <p class="menulis">Di tulis oleh <a href="">ahmad junaedi
        </a>
            pada 17 agustus 2020
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, cupiditate deserunt nemo eos obcaecati repellat temporibus aspernatur maxime. Id cupiditate dolor deserunt nemo at. A sit ipsam eveniet tempora corporis cum fuga vel adipisci culpa voluptate porro facilis incidunt, provident, aspernatur quis esse ab! Quasi harum exercitationem illum dicta reprehenderit!

            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id eveniet molestiae odio, accusantium maxime modi explicabo ex aut assumenda qui ratione. Enim, sequi reprehenderit! Officiis asperiores alias hic quia in incidunt ullam magni fuga, dignissimos quas animi. Facere consectetur ad iure vel. Soluta ex at eligendi? In quidem quae vero.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio vitae ducimus sint ipsam quo iste officia mollitia, enim ex blanditiis iure molestias neque tenetur perspiciatis magnam voluptas nobis minus soluta, harum cumque quia molestiae, suscipit et deleniti! Autem, ducimus! Itaque nemo nihil cupiditate repudiandae expedita beatae omnis et vero tenetur reprehenderit. Ullam, vitae delectus dolor eius, tempora perspiciatis laboriosam soluta aspernatur impedit nulla dolores? Sapiente, ipsam amet. Aperiam harum nam voluptas minima quia obcaecati nihil tenetur, quidem ratione laborum sit praesentium? Modi inventore impedit eius reprehenderit eaque quis, maiores harum aperiam ea quasi vel fugit eum veniam odit. Obcaecati, atque.

            </p>
        </div>
        <div class="footer">
            <p class="copy">
                Copyright by ahmadjunaedi.com
            </p>
        </div>
    </div>
</body>
</html>