body{
    font: 20px/30px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}
.container{
    width: 800px;
    background-color:whitesmoke;
    margin: auto;
    
}
.header{
    background-color :white;
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul{
    font-size: 35px;
    font-weight: bold;

}
.header ul li{
    display: inline-block;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-right: 10px;
}
.header a{
    text-decoration: none;
    color:  salmon;
    padding: 3px;

}
.header a:hover{
    border-bottom: 3px solid salmon;
    color: white;
    transition: 1s ease;
    transform: ;
}

.hero{
    height: 280px;
    background-image: url("code.png");
    background-size: cover;
    background-position: 0 -180;
    border-top: 5px solid salmon;
    border-bottom: 5px solid salmon;
}
.content{
    padding: 20px;
}
.content h2{
   font-size: 28;
   font-weight: bold; 
}
.content .menulis{
    font-size: 11px;
    margin-top: -5px;
}
.content .menulis a{
    color:  salmon;
    text-decoration: none;

}
.content p{
    margin-bottom: 20px;
    font-size: 14px;
}


.footer{
    background-color: #333;
    padding: 5px;
}
.footer .copy{
    color: #eaeaea;
    font-size: 10px;
    text-align: center;
}