<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display in css</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">    <h1>belajar display css module layouting</h1>
    <p>ini paragrap ((welcome))</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus modi suscipit quisquam, aliquam accusantium obcaecati hic! Quis et maxime est fuga asperiores tempore, repellat itaque totam nemo in voluptate veniam?</p>

</div>
<div class="main">
    <ul>
        <li><a href="">index 1</a></li>
        <li><a href="">index 1</a></li>
        <li><a href="">index 1</a></li>
        <li><a href="">index 1</a></li>        
    </ul>
</div>
<div class="ini-span">
    <span>
    Lorem ipsum</span> <p>dolor sit amet consectetur adipisicing elit. Tempora laboriosam voluptate omnis provident enim deleniti doloremque distinctio eos dolorem corrupti! Voluptatibus sed adipisci, dolore sequi omnis consectetur laborum voluptate sit!</p>

</div>
<div class="change">
    <ul>
        <li><a href="">link 1</a></li>
        <li><a href="">link 2</a></li>
        <li><a href="">link 3</a></li>
        <li><a href="">link 4</a></li>
        <li><a href="">link 5</a></li>
    </ul>
</div>
</body>
</html>